[submodule "src/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = src/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "src/pico-ssd1306"]
	path = src/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306
[submodule "src/rp2040-encoder-library"]
	path = src/rp2040-encoder-library
	url = https://github.com/gbr1/rp2040-encoder-library
[submodule "src/QuadratureDecoder"]
	path = src/QuadratureDecoder
	url = https://github.com/adamgreen/QuadratureDecoder
[submodule "src/rp2040_i2s_example"]
	path = src/rp2040_i2s_example
	url = https://github.com/malacalypse/rp2040_i2s_example
[submodule "src/embedded-cli"]
	path = src/embedded-cli
	url = https://github.com/funbiscuit/embedded-cli
[submodule "src/RP2040-pico_synth_ex"]
	path = src/RP2040-pico_synth_ex
	url = https://github.com/TuriSc/RP2040-pico_synth_ex
